{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    
  {% if title %}
  <title>Project Blog - {{ title }}</title>
  {% else %}
  <title>OCR using Pytesseract</title>
  {% endif %}
  
</head>

<style>
  .ocr a:hover{
    background: #584cdb;
  }
</style>

<body>
    <nav class="navbar navbar-info shadow" style="background: #7b6ff8;">
        <div class="container-fluid ">
            <a href="/" style="padding-left: 1.5rem;"><img src="{% static 'logo.png' %}" alt="ocr image" height="50" class="d-inline-block align-text-top"></a>
          <div class="ocr">
            <a href="{% url 'ocr' %}" style="color: white;">👉Extract Text from an Image</a>
            <a class="m-4" href="{% url 'ocrpdf' %}" style="color: white;">👉Extract Text from an pdf file</a>
          </div>
        </div>
      </nav>


      
      
    </body>
    {% block content %}{% endblock %}
</html>